.label {
    /*-fx-font-size: 40px;*/
}
.group {
    -fx-background-color: #000;
}
#btn {
    -fx-background-color: #f00;
}
#main {
    -fx-min-width: 100%;
}
#content {
    -fx-alignment: center;
    -fx-padding: 100;
}